<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/theme_menu.css">
</head>
<body>
    <div class="background">
    Department ID:
    <input type="text" class="input" name="username" value="" maxlength="25" />
    <br />
    Password:
    <input type="text" name="password" value="" maxlength="25" />
    <br />
    <input type="submit" class="login" value="Login"/>
   </div> 
</body>
</html>