<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/theme_menu.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="background">
        <div class="border">
            <b class="Department">Department Id</b>
            <br />
            <input type="text" class="input" name="username" value="" maxlength="25" style="margin-top: 300px" required/>
            <br />
            <b class="Password">Password</b>
            <br />
            <input type="password" class="input" name="password" value="" maxlength="25" style="margin-top: 100px" required/>
            <br />
            <input type="submit" class="login" value="Login"/>
        </div>
   </div> 
</body>
</html>