.Department{
    position: fixed;
    margin-top: 280px;
    margin-left: 200px;
    color: white;
    left: 100px;
    font-size: 25px;
    font-family: "Copperplate", fantasy;
    
}
.Password{
    position: fixed;
    color: white;
    left: 300px;
    font-size: 25px;
    top: 430px;
    font-family: "Copperplate", fantasy;
}
.input{
    margin-left: 300px;
    position: relative;
    width: 400px;
    height: 30px;
    font-size: 20px;
}